.masthead {
  height: 90vh;
  /* media querys*/
  width: 100%;
  min-height: 500px;
  background-image: url('../images/bannerppl-congreso2.jpg');
  background-size: cover;
  /* background-size:100% 100%; fijas*/
  background-position: center;
  background-repeat: no-repeat;
  margin-bottom: 60px;
}

.title-baner {
  position: absolute;
  bottom: 100px;
  text-align: center;
  padding: 0 16px;
}

.super-heading {
  color: #fff;
  font-size: 40px;
  text-transform: uppercase;
  font-family: 'Ancizar sans';
}

.super-heading .ppl {
  font-size: 55px;
}

.text-baner {
  color: #dfb315;
  font-size: 20px;

}

.txt-muted {
  color: #ffffffbd;
  font-size: 35px;
  text-transform: uppercase;
  font-weight: 100;
}

.txt-muted-2 {
  font-weight: 100;
}

.title-gen {
  position: relative;
  top: -30px;
  right: -20px;
}

.title-gen2 {
  position: relative;
  top: -70px;
  right: -20px;
}

.title-gen p {
  font-size: 22px;
  margin-top: 20px;
  line-height: initial;
}

.title-gen2 p {
  font-size: 22px;
  margin-top: 20px;
  line-height: initial;
}

.title-gen-des {
  position: relative;
  left: 0px;
}

.title-gen-des h1 {
  font-size: 50px;
  font-weight: 600;
  font-family: 'Ancizar sans';
}

.title-gen h1 {
  font-size: 50px;
  font-weight: 600;
  font-family: 'Ancizar sans';
  text-transform: uppercase;
}

.title-gen2 h1 {
  font-size: 50px;
  font-weight: 600;
  font-family: 'Ancizar sans';
  text-transform: uppercase;
}

.title-h2-pon {
  margin: 20px 0px;
}

.title-heading {
  text-align: center;
  font-size: 50px;
  font-weight: 600;
  font-family: 'Ancizar sans';

}



.txt-art {
  font-size: 23px;
  margin: 70px 0px 50px 0px;
  font-weight: 200;
  line-height: 1.4;
  text-align: justify;

}

.txt-art-2 {
  font-size: 22px;
  margin-bottom: 25px;
  font-weight: 200;
  line-height: 1.4;
  text-align: justify;

}

.txt-art-pon {
  font-size: 22px;
  color: #fff;
  font-weight: 200;
  line-height: 1.4;
  text-align: justify;
  padding: 0 16px;

}

.txt-art-ins {
  font-size: 19px;
  color: #ffffff;
  font-weight: 200;
  line-height: 1.4;
  text-align: justify;
  padding: 0px 7px;
}

.txt-art-ins_2 {
  font-size: 19px;
  color: #1B4C5C;
  font-weight: 200;
  line-height: 1.4;
  text-align: justify;
  padding: 0px 7px;
}

.txt-art-ins-par {
  font-size: 19px;
  color: #1B4C5C;
  font-weight: 200;
  line-height: 1.4;
  text-align: justify;
  padding: 0px 7px;
}

.two a {
  display: block;
  padding: 10px 0;
  color: #1B4C5C;
  width: 150px;
  text-align: center;
  border: 1px solid #dfb315;
  ;
  text-decoration: none;
  border-radius: 50px;
  background: #dfb315;
  ;
  margin: 20px 16px;
  font-size: 20px;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.two a:hover {
  transform: scale(1.1);

  background-color: #1B4C5C;
  border-color: #1B4C5C;
  color: #fff;
  font-size: 21px;


}

section {
  color: #1B4C5C;
  font-family: 'Ancizar sans';
  padding: 40px 60px !important;
  margin: 40px 0px;
}

section.sect-wh {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
  padding: 0 40px;
}

section.gr {
  background: #E7E7E7 !important;
}

section.sect-card {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  background: #fff;
  padding: 40px;
  justify-content: center;
}

section.sect-open {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  background: #fff;
  padding: 40px;
  justify-content: center;
}

section.sect-middle {
  width: 100%;
  height: 75vh;
  /*height: 100vh;*/
  display: flex;
  /* ;*/
  align-items: flex-end;
  align-items: center;
  background: #fff;
  padding: 40px;
  justify-content: center;
}

section.sect-middle2 {
  width: 100%;
  height: 65vh;
  display: flex;
  background: #fff;
  padding: 40px;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
}

section.two {
  background: #AA006C;
}


.dv-gen-cen {
  width: 100%;
}

/*    
.row h1 span{
vertical-align: super;
}*/
/*oBJETIVOS*/

.featurette-heading {
  color: #1B4C5C;
  font-family: 'Ancizar sans';
  font-weight: 600;

}





/*
=======================================================
CUENTA ATRAS
========================================================*/



#headline {}



.container {
  margin: 0 auto;
  text-align: center;
  color: #8f8f8f;
  position: absolute;
  width: 100%;
  top: 130px;

}

.container h1 {
  font-family: 'Ancizar sans';
}


.clock {
  display: inline-block;
  font-size: 1em;
  list-style-type: none;
  padding: 1em;
  text-transform: uppercase;
}

li.clock span {
  display: block;
  font-size: 3rem;
  color: #AA006C;
  padding: 12px;

}

.emoji {
  display: none;
  padding: 1rem;
}

.emoji span {
  font-size: 4rem;
  padding: 0 .5rem;
}

@media all and (max-width: 768px) {
  h1 {
    font-size: calc(1.5rem * var(--smaller));
  }

  li {
    font-size: calc(1.125rem * var(--smaller));
  }

  li span {
    font-size: calc(3.375rem * var(--smaller));
  }
}


/*==========================================
progres bar
=============================================*/
#progress {
  position: fixed;
  z-index: 10;
  left: 0;
  top: 0;
  width: 100vw;
  height: 3px;
  transform-origin: 0 50%;
  transform: scaleX(0);
  background: #aa006c;
}

@supports (animation-timeline: scroll()) {

  /* Hide warning */
  .warning {
    display: none;
  }
}



/*==========================================
carousel text
=============================================*/


.quote {
  color: rgba(0, 0, 0, .1);
  text-align: center;
  margin-bottom: 100px;
}

.obj-carousel {
  height: 345px;
}


#fade-quote-carousel.carousel {
  padding-bottom: 60px;
}

#fade-quote-carousel.carousel .carousel-inner .item {
  opacity: 0;
  -webkit-transition-property: opacity;
  -ms-transition-property: opacity;
  transition-property: opacity;
}

#fade-quote-carousel.carousel .carousel-inner .active {
  opacity: 1;
  -webkit-transition-property: opacity;
  -ms-transition-property: opacity;
  transition-property: opacity;
}

#fade-quote-carousel.carousel .carousel-indicators {
  bottom: 10px;
}

#fade-quote-carousel.carousel .carousel-indicators>li {
  border-color: #1B4C5C;
  background-color: #ddd;
  border: 1px solid;
}

#fade-quote-carousel blockquote {
  text-align: left;
  border: none;
}

/*==========================================
Cards tematicas
=============================================*/



.thumbnail {
  display: block;
  padding: 0px;
  margin-bottom: 0px;
  line-height: 1.42857143;
  background-color: #E7E7E7;
  border: 0px solid #ddd !important;
  border-radius: 1rem;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.card {
  width: 300px;
  height: 350px;
  margin-bottom: 20px;
  -webkit-box-shadow: 13px 11px 21px -10px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 13px 11px 21px -10px rgba(0, 0, 0, 0.75);
  box-shadow: 13px 11px 21px -10px rgba(0, 0, 0, 0.75);
}

.card-conf {
  width: 300px;
  height: 382px;
  margin-bottom: 20px;
  -webkit-box-shadow: 13px 11px 21px -10px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 13px 11px 21px -10px rgba(0, 0, 0, 0.75);
  box-shadow: 13px 11px 21px -10px rgba(0, 0, 0, 0.75);
}

/*
.card:hover{
  transform: scale(1.05);
}*/
.card .caption {
  margin-top: 25px;
  text-align: center;
  color: #1B4C5C;


}

.card-conf .caption {
  margin-top: 25px;
  text-align: center;
  color: #1B4C5C;


}

.caption h5 {
  font-family: 'Ancizar sans' !important;
}


.card .bg-head {
  display: block;
  width: 100%;
  height: 150px;
  background: #AA006C;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-conf .bg-head {
  display: block;
  width: 100%;
  height: 150px;
  background: #AA006C;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card .bg-head-conf {
  display: block;
  width: 100%;
  height: 150px;
  background: #1B4C5C;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  display: flex;
  align-items: center;
  color: #fff;
  flex-direction: column;
  justify-content: space-around;
}

.card-conf .bg-head-conf {
  display: block;
  width: 100%;
  height: 150px;
  background: #1B4C5C;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  display: flex;
  align-items: center;
  color: #fff;
  flex-direction: column;
  justify-content: space-around;
}

.title-head-conf {
  position: relative;
  top: -35px;
  padding: 0 16px;

  text-align: center;

}

.card .caption-conf {
  margin: 16px;
  text-align: left;
  color: #1B4C5C;
}

.card-conf .caption-conf {
  margin: 16px;
  text-align: left;
  color: #1B4C5C;
}

.caption-conf h5 {
  font-family: 'Ancizar sans' !important;
}

.title-head-conf h4 {

  font-family: 'Ancizar sans';
}

.title-head-conf h5 {
  color: #ffffffad;
  font-family: 'Ancizar sans';
}


.ppl-space {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.img-tar-conf {
  width: 50%;
  position: relative;
  top: -50px;

}

.obj-img {
  height: 250px;
  margin-top: 50px;
}

/* agenda*/

.schedule {
  color: #AA006C;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 40px;
}

.schedule h2 {
  margin-bottom: 20px;
  font-family: 'Ancizar sans';
  font-weight: 600;

}

.img-schedule {
  width: 80%;

}

.table-price {
  border: 0px solid #ddd;
}


/*======== pricing============*/



.pricing-table-subtitle {
  margin-top: 68px;
  font-weight: normal;
  text-transform: uppercase;
}

.card-ins1 {
  background: #AA006C;
}

.card-ins2 {
  background: #E8A622;
}

.card-ins3 {
  background: #1B4C5C
}

.pricing-card {
  padding: 20px;
  border: none;
  border-radius: 10px;
  margin: 40px 16px;
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
  -webkit-box-shadow: 13px 11px 21px -10px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 13px 11px 21px -10px rgba(0, 0, 0, 0.75);
  box-shadow: 13px 11px 21px -10px rgba(0, 0, 0, 0.75);
}

.pricing-card:hover {
  box-shadow: 0 2px 40px 0 rgba(205, 205, 205, 0.55);
  -webkit-transform: translateY(-10px);
  transform: translateY(-10px);
  -webkit-box-shadow: 13px 11px 21px -10px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 13px 11px 21px -10px rgba(0, 0, 0, 0.75);
  box-shadow: 13px 11px 21px -10px rgba(0, 0, 0, 0.75);
}


.card-body {
  padding-top: 20px;
  padding-bottom: 20px;
}



.pricing-plan-cost {
  font-size: 50px;
  color: #fff;
  font-weight: bold;
  margin-bottom: 29px;
}


.pricing-plan-features {
  list-style: none;
  padding-left: 0;
  font-size: 14px;
  line-height: 2.14;
  margin-bottom: 35px;
  color: #fff;
}

.image_ins {
  margin: 20px 0px;
}

ol {
  list-style: inherit !important;
}

a.formulario {
  display: block;
  padding: 10px 0;
  color: #1B4C5C;
  width: 150px;
  text-align: center;
  border: 1px solid #dfb315;
  ;
  text-decoration: none;
  border-radius: 50px;
  background: #dfb315;
  ;
  margin: 20px 16px;
  font-size: 20px;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

a.formulario:hover {
  transform: scale(1.1);

  background-color: #1B4C5C;
  border-color: #1B4C5C;
  color: #fff;
  font-size: 21px;


}