.masthead {
    height: 90vh; /* media querys*/
    width: 100%;
    min-height: 500px;
    background-image: url('../images/bannerppl-congreso2.png') ;
    background-size: cover;
   /* background-size:100% 100%; fijas*/
    background-position: center;
    background-repeat: no-repeat;
    margin-bottom: 60px;
  }

  .title-baner{
    position: absolute;
    bottom:100px;
    text-align: center;
    padding: 0 16px;
  }
  .super-heading{
    color: #fff;
    font-size: 40px;
    text-transform: uppercase;
    font-family: 'Ancizar sans';
  }

  .super-heading .ppl{
    font-size: 55px;
  }
  .text-baner{
    color: #dfb315;
    font-size: 20px;
    
  }
  .txt-muted{
    color: #ffffffbd;
    font-size: 35px;
    text-transform: uppercase;
    font-weight: 100;
  }
.txt-muted-2{
    font-weight: 100;
}


  .title-heading {
text-align: center;
font-size: 50px;
font-weight: 600;
font-family: 'Ancizar sans';

    }
.txt-art{
    font-size: 24px;
    margin: 120px 0px 50px 0px;
    font-weight: 200;
    line-height: 1.4;
    text-align: justify;

}

.txt-art-2{
  font-size: 24px;

  font-weight: 200;
  line-height: 1.4;
  text-align: justify;

}
section{
  color:  #1B4C5C;
  font-family: 'Ancizar sans';
}

section.sect-wh{
width: 100%;
height: 100vh;
display: flex;
justify-content: center;
align-items: center;

background: #fff;
padding: 0 40px;
}

section.gr{
    background: #ddd !important;
}
    
.row h1 span{
vertical-align: super;
}

/*
=======================================================
CUENTA ATRAS
========================================================*/



#headline{
 
 
}



.container  {
   margin: 0 auto;
  text-align: center;
  color: #8f8f8f;
  position: absolute;
  width: 100%;
  top: 130px;

}
.container h1{
  font-family: 'Ancizar sans';
}


.clock {
  display: inline-block;
  font-size: 1em;
  list-style-type: none;
  padding: 1em;
  text-transform: uppercase;
}

li.clock span {
  display: block;
  font-size: 3rem;
  color:  #AA006C ;
  padding: 12px;

}

.emoji {
  display: none;
  padding: 1rem;
}

.emoji span {
  font-size: 4rem;
  padding: 0 .5rem;
}

@media all and (max-width: 768px) {
  h1 {
    font-size: calc(1.5rem * var(--smaller));
  }
  
  li {
    font-size: calc(1.125rem * var(--smaller));
  }
  
  li span {
    font-size: calc(3.375rem * var(--smaller));
  }
}


/*==========================================
progres bar
=============================================*/
#progress {
	position: fixed;
	z-index: 10;
	left: 0;
	top: 0;
	width: 100vw;
	height: 3px;
	transform-origin: 0 50%;
	transform: scaleX(0);
	background: #aa006c;
}

@supports (animation-timeline: scroll()) {
	/* Hide warning */
	.warning {
		display: none;
	}
}



/*==========================================
carousel text
=============================================*/


.quote {
  color: rgba(0,0,0,.1);
  text-align: center;
  margin-bottom: 30px;
}


#fade-quote-carousel.carousel {
  padding-bottom: 60px;
}
#fade-quote-carousel.carousel .carousel-inner .item {
  opacity: 0;
  -webkit-transition-property: opacity;
      -ms-transition-property: opacity;
          transition-property: opacity;
}
#fade-quote-carousel.carousel .carousel-inner .active {
  opacity: 1;
  -webkit-transition-property: opacity;
      -ms-transition-property: opacity;
          transition-property: opacity;
}
#fade-quote-carousel.carousel .carousel-indicators {
  bottom: 10px;
}
#fade-quote-carousel.carousel .carousel-indicators > li {
  background-color: #e84a64;
  border: none;
}
#fade-quote-carousel blockquote {
    text-align: center;
    border: none;
}






