@media (max-width: 480px) {


    section.sect-wh {
        height: auto;
        }
    .container {
        top: 152px;
    }
    .title-gen-des {
     
        margin-top: 60px;
    }
    .obj-carousel {
        height: 412px !important;
    }

    .clock {
        display: inline-block;
        font-size: 0.8em;
        list-style-type: none;
        padding: 0.4em;
        text-transform: uppercase;
    }

    li.clock span {
        display: block;
        font-size: 2.4rem;
        padding: 11px;
        color: #AA006C;
        font-weight: 600;
    }
    .title-baner {
        
        bottom: 20px;
       
    }


}


@media (max-width: 767px) {
    .masthead {
        height: 92vh;
       /* margin-bottom: 40px; */
       margin-bottom: 0px;
    }


    .txt-muted {
        font-size: 20px;

    }

    .super-heading .ppl {
        font-size: 35px;
    }

    .super-heading {
        font-size: 25px;

    }

    .tx-unal-accesibilidad {
        top: 55px;
    }

    #pestania-accesibilidad {
        margin-right: 0px;
    }

    .txt-art {
        font-size: 18px;
        line-height: 1.2;
        margin: 30px 0px 30px 0px;

    }
    .txt-art-2{
        font-size: 18px;
      
        font-weight: 200;
        line-height: 1.2;
        text-align: justify;
        margin: 30px 0px 30px 0px;
      
      }

    .title-heading {

        font-size: 20px;
        margin-bottom: 0px;
    }

    #unalTop .navigation .mainMenu {
  
        background: #333;
    }

    #unalTop .navigation.collapse.in {
        z-index: 4;
    }
    section.sect-card {
  
        height: auto; 
        }
        .title-gen {
            margin-bottom: 25px;
            position: relative;
            margin-top: 20px;
            top: 0;
            left:0;
        }
        .quote {
   
            margin-bottom: 0px;
        }
        .title-gen-des h1 {
            font-size: 35px;
           }
           .title-gen h1 {
            font-size: 35px;
           }

           .obj-carousel{
            height: 345px;
           }
           section.sect-middle {
            height: auto;
        }
        section.sect-middle2 {
            
            height: auto;
        }
        .card {
            width: 280px;
            height: 227px;
            margin-bottom: 20px;
        }

        .card .bg-head {
           height: 120px;
        }

        .card-img{
            width: 27%;
        }
        
        .card-img2{
            width: 40%;
        }

        .card .caption {
            margin-top: 16px;
         
        }

        .caption h3{
            font-size: 19px !important;
        }
        section {
           
            padding: 40px 30px !important;
        }
        .txt-art-pon {
            font-size: 19px;
            text-align: left;
        }
        .title-gen p {
            font-size: 19px;
        }

}


@media (min-width: 768px) {}