@media (min-width: 992px) and (max-width: 1199px) {
  
    section.sect-card {
        display: flex;
        align-items: center;
        flex-direction: column;
        align-content: space-around;
        justify-content: center;
        flex-wrap: nowrap;
    }
      .title-gen {
        position: relative;
        top: -100px;
        left: -323px;
    }
}


